<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-custom">
      <p class="navbar-text mx-auto">&copy; Copyright 2022. 301183574 Kay Yan Cheung | 30097062 Yuna Jung | COMP229 S2022. All Rights reserved.</p>
    </nav>
  </footer>