<!-- Home -->
<div class="margin">
    <h4 style="color: #4B5EA2;;">Welcome</h4>
    <h1 style="color: #17294D;; font-size: 6em;">Surveys</h1>
    <h1 style="color: #17294D;; font-size: 5em;">show that surveys never lie</h1>
    <br>
    <h5 style="color: #4B5EA2;">Answer surverys.</h5>
    <h5 style="color: #4B5EA2;;">Create your own surveys.</h5>
    <br>
    <a class="btn btn-dark btn-sm" href="/survey">Surveys</a>
    </div>

