<div class="container">
    <form id="new-survey-form">
        <h1>{{title}}</h1>
        <!-- Survey Title -->
        <div>
            <label for="title">Title</label>
            <input type="text" id='title'value='{{survey?.title}}'/>
        </div>
        <!-- Survey Description -->
        <div>
            <label for="description">Description</label>
            <input type="description" id='description' value='{{survey?.description}}'/>
        </div>
        <!-- loop to show questions -->
    
        <div *ngFor="let q of survey?.questions">
            <label for="description">Question</label>
            <input type="text" class='question' value='{{q.question}}'/>
            <label>Question Type</label>
            <!-- Change the default selected according to the data in DB -->
            <select class="type">
                <option value="TEXT" *ngIf="q.questionType === 'TEXT'; else notText" selected>Text</option>
                <ng-template #notText><option value="TEXT">Text</option></ng-template>
                <option value="T_F" *ngIf="q.questionType === 'T_F'; else notTF" selected>True or False</option>
                <ng-template #notTF><option value="T_F">True or False</option></ng-template>
                <option value="OPTIONS" *ngIf="q.questionType === 'OPTIONS'; else notOption" selected>Options</option>
                <ng-template #notOption><option value="OPTIONS">Options</option></ng-template>
                <option value="CHECKBOX" *ngIf="q.questionType === 'CHECKBOX'; else notTF" selected>Checkboxes</option>
                <ng-template #notTF><option value="CHECKBOX">Checkboxes</option></ng-template>
            </select>
        </div>
    
    </form>
    <!-- Buttons -->
    <button id="add-question-btn" (click)="addQuestion()">Add a question</button>
    <button id="add-question-btn" (click)="updateSurvey()">Update</button>
</div>
