<div class="margin container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto"><br>
            <h1 class="text-center">Log in to your account</h1><br>
            <fieldset>
                <label>Username:</label><br>
                <input type="text" id='input-username' style="width:400px;"/><br><br>
                <label>Password: </label><br>
                <input type="password" id='input-password' style="width:400px;"/>
            </fieldset>
            <br><p>Don't have an account? <a href="/register">Register</a></p>

<a class="btn btn-secondary btn-sm" style="float: right;" href="/">Back</a>
<a class="btn btn-dark btn-sm" style="margin-right: 15px; float: right;" (click)="login()">Log in</a>

<br><br><br><br><br>
</div>
</div>
</div>s