
<div class="margin container">

    <div class="row justify-content-md-center">
        <div class="col-md-auto"><br>
            <form id="new-survey-form">

                <h1 class="text-center">{{title}}</h1><br>
                <div class="box">
                <!-- Survey Title -->
                <div class="row">
                    <label for="title" class="boxPadding col-2">Title</label>
                    <input type="text" id='title' style="border-radius: 5px" class="col-8"/>
                </div>
                <br>
                <!-- Survey Description -->
                <div class="row">
                    <label for="description" class="boxPadding col-2">Description</label>
                    <input type="description" id='description' style="border-radius: 5px" class="col"/>
                </div>
                <br>
                <!-- Survey Questions -->
                <div class="row">
                    <label for="description" class="boxPadding col-2">Question</label>
                    <input type="text" class='Questions col' style="border-radius: 5px"/>
                    <label class="boxPadding">&nbsp;&nbsp;&nbsp;Question Type</label>
                    <select class="type">
                        <option selected value="TEXT">Text</option>
                        <option value="T_F">True or False</option>
                        <option value="OPTIONS">Options</option>
                        <option value="CHECKBOX">Checkboxes</option>
                    </select>
                </div>
                </div>
            </form>
 
    <!-- Buttons -->
    <div style="text-align: center;">
        <br>
        <button class="btn btn-dark btn-sm" id="add-question-btn" (click)="addQuestion()" style="margin: 20px">Add a question</button>
        <button class="btn btn-dark btn-sm" id="add-question-btn" (click)="addNewSurvey()" style="margin: 20px">Submit</button>
        <a class='btn btn-secondary btn-sm' href="/surveys" style="margin: 20px">Back</a>
    </div>
<br><br><br><br><br>
</div>
</div>
</div>