<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/scripts/app.js"></script>
</head>
<body>
    <form id="new-survey-form">
        <h1>Add new survey</h1>
        <div>
            <label for="title">Title</label>
            <input type="text" id='title'/>
        </div>
        <div>
            <label for="description">Description</label>
            <input type="description" id='description'/>
        </div>
        <div>
            <label for="description">Question</label>
            <input type="text" class='question'/>
            <label>Question Type</label>
            <select class="type">
                <option selected value="TEXT">Text</option>
                <option value="T_F">True or False</option>
                <option value="OPTIONS">Options</option>
                <option value="CHECKBOX">Checkboxes</option>
            </select>
        </div>
    </form>
    <button id="add-question-btn" onclick="addQuestion()">Add a question</button>
    <button id="add-question-btn" onclick="addNewSurvey()">Submit</button>
</body>
</html>