<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Survey List</p>
    <!-- Show a list of surveys here -->
    <% for(let count=0; count < surveys.length; count++){ %>
        <p><%= surveys[count].title %></p>
    <% } %>
</body>
</html>