<div class="container">
    <form id="new-survey-form">
        <!-- Survey Title -->
        <h2>{{survey}}</h2>
        <!-- Survey Description -->
        <h3></h3>
        <!-- Loop survey questions and show the corresponding question type -->
    
        <div>
            <!-- question -->
            <p></p>
            <!-- show different question type -->
    
        </div>
    </form>
    <!-- Buttons -->
    <button id="add-question-btn" (click)="submitSurveyResponse()">Submit</button>
</div>
